<!DOCTYPE html>
<html>
  <head>
    <!-- set `maximum-scale` for some compatibility issues -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    />
    <meta content="telephone=no" name="format-detection" />
    <meta content="email=no" name="format-detection" />
    <script src="https://cdn.bootcdn.net/ajax/libs/eruda/2.4.1/eruda.min.js"></script>
    <script>eruda.init()</script>
  </head>

  <body>
    <div id="root"></div>
  </body>
</html>
