.root {
  position: relative;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  white-space: nowrap;
  user-select: none;
}

.get {
  color: #356b25;
  background-color: #d3ffc5;
}

.post {
  color: #493a24;
  background-color: #ffd79b;
}

.put {
  color: #28424e;
  background-color: #ccefff;
}

.del {
  color: #dddddd;
  background-color: #555555;
}

.small {
  font-size: 10px;
}

.large {
  font-size: 18px;
}
